/* create color variables */
:root {
   --color-primary: #d73953;
   --color-black: #090909;
   --color-white: #ffffff;
   --color-light-grey: #f3f3f3;
   --color-dark-grey: #353535;
   --text-color: var(--color-black);
}
 
 /* Enable vertical scrolling */
html {
    scroll-behavior: smooth;
}

/* Add a black background color to the body */
body {
    color: var(--text-color);
}

/* for all anchor element  */
a {
    color: #161616;
}

/* all element with visually-hidden class  */
.visually-hidden {
    display: none;
}

/* all element with card-category class  */
.card-category {
    color: var(--color-primary);
}

/* all element with section-tagline class  */
.section-tagline {
    color: var(--color-primary);
}
